* {
  font-family: Sans-Serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Taken_by_Vultures_Demo;
  src: url("Taken_by_Vultures_Demo.otf");
}

header {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
}

header h4 {
  position: absolute;
  left: 20%;
  top: 20px;
  bottom: 1rem;
  height: 10vw;
  width: 7vw;
}

/* splash screen */
.intro {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #000;
  transition: 1s;
}

.logo {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* color: #fff; */
  /* font-size: 150px; */
  stroke-dasharray: 1601;
  stroke-dashoffset: 1601;
}

/* .logo {
  font-family: Taken_by_Vultures_Demo;
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
} */

.logo.active {
  bottom: 0;
  opacity: 1;
  stroke-dashoffset: 0;
  transition: ease-in-out 1s;
}

.logo.fade {
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}

/* body a:hover {
  color: #ff06f3;
} */

#page-container {
  position: relative;
  min-height: 100vh;
  opacity: 1;
  transform: translateY(0);
  transition: ease-in-out 0.75s;
}

#page-container.initial {
  opacity: 0;
  transform: translateY(50px);
}

.title {
  color: #fe0d9a;
  text-align: center;
  font-weight: bold;
}

h3 {
  text-decoration: underline;
}

h5 {
  font-style: italic;
  color: black;
}

img {
  display: block;
  margin-left: 220px;
  margin-right: 220px;
  /* border-radius: 50%; */
  width: 100px;
  height: 149px;
  text-align: center;
}

#name {
  margin-left: 210px;
  margin-right: 210px;
}

/* menu */
#menu {
  background-color: #000;
  color: white;
  position: fixed;
  left: -300px;
  width: 300px;
  height: 100%;
  transition: all 0.5s ease;
}

#menu.active {
  left: 0;
  /* position: absolute; */
}

#menu ul li {
  list-style: none;
  font-size: 20px;
  padding: 20px 24px;
}

#menu ul li a {
  text-decoration: none;
  color: #fff;
}

/* menu button */
#menu .toggle-btn {
  position: absolute;
  top: 30px;
  left: 330px;
}

.toggle-btn span {
  width: 45px;
  height: 4px;
  background: #000;
  display: block;
  margin-top: 4px;
}

#main {
  padding-bottom: 6.1rem;
  padding-left: 30%;
  width: 100%;
  text-align: justify;
  /* background-color: #0ea6d8; */
  color: black;
}

table {
  width: 50%;
  height: 60%;
}

tbody tr:nth-child(odd) {
  background: #00c0de;
}

tbody tr:nth-child(even) {
  background: #fe0d9a;
}

.special {
}

footer {
  /* background-color: #e2039f; */
  color: #000;
  bottom: 0;
  position: absolute;
  padding: 35px;
  height: 6.1rem;
  text-align: center;
  position: absolute;
  right: 0;
  left: 0;
  clear: both;
}

/* .contact_header {
  padding-bottom: 5px;
  top: 50%;
} */

footer ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display: flex;
  padding-bottom: 40px;
}

footer ul li {
  list-style: none;
}

footer ul li a {
  display: block;
  position: relative;
  bottom: 30px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  color: #404040;
  margin: 0 30px;
  transition: 0.5s;
}

footer ul li a span {
  position: absolute;
  transition: transform 0.5s;
}

/* top and bottom lines of social box */
footer ul li a span:nth-child(1),
footer ul li a span:nth-child(3) {
  width: 100%;
  height: 3px;
  background: #404040;
}

footer ul li a span:nth-child(1) {
  top: 0;
  left: 0;
  transform-origin: right;
}
/* on hover, lines disappear */
footer ul li a:hover span:nth-child(1) {
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s;
}

footer ul li a span:nth-child(3) {
  bottom: 0;
  left: 0;
  transform-origin: left;
}

footer ul li a:hover span:nth-child(3) {
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

/* side lines of social box */
footer ul li a span:nth-child(2),
footer ul li a span:nth-child(4) {
  width: 3px;
  height: 100%;
  background: #404040;
}

footer ul li a span:nth-child(2) {
  top: 0;
  left: 0;
  transform: scale(0);
  transform-origin: bottom;
}
/* on hover side lines appear */
footer ul li a:hover span:nth-child(2) {
  transform: scale(1);
  transform-origin: top;
  transition: transform 0.5s;
}

footer ul li a span:nth-child(4) {
  top: 0;
  right: 0;
  transform: scale(0);
  transform-origin: top;
}

footer ul li a:hover span:nth-child(4) {
  transform: scale(1);
  transform-origin: bottom;
  transition: transform 0.5s;
}

.linkedin:hover {
  color: #0a66c2;
}

.linkedin:hover span {
  background: #0a66c2;
}

.github:hover {
  color: #c5c6d0;
}

.github:hover span {
  background: #c5c6d0;
}

.email:hover {
  color: #50d9ff;
}

.email:hover span {
  background: #50d9ff;
}
