html,
body {
  height: 100%;
  background-color: #000;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#text {
  height: 50vw;
  width: 80vw;
  stroke-dasharray: 1601;
  animation: 3s fillSvg linear;
}

@keyframes fillSvg {
  0% {
    stroke-dashoffset: 1601;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
